
h1{
  color: purple;
}
/* body{
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 280px;
} */
.nav{
  background-color: yellow; 
  display: flex;
  height: 9vh;
  font-size: 30px;
  justify-content: center ;
  justify-content: space-around;
}
h1{
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}
